<footer class="footer">
    <div class="footer-top">
        <img loading="lazy" src="img/bg2.webp" alt="" class="footer-top__bg1">
        <div class="container">
            <div class="footer-top__content">
                <div class="footer-top__left">
                    <a href="./" class="footer-top__logo">
                        <img loading="lazy" src="img/icons/logo2.svg" alt="">
                    </a>
                    <div class="footer-top__text1">
                        Профессиональная аналитика и настройка рекламных кампаний <span>”под ключ”</span>
                    </div>
                    <div class="footer-top__text2">
                        <p>
                            ИП Самончик Наталья Дмитриевна
                        </p>
                        <p>ИНН: 650623380052</p>
                        <p>ОГРНИП: 323270000054040</p>
                    </div>
                </div>
                <div class="footer-top-menu menu1">
                    <div class="footer-top-menu__title">Услуги:</div>
                    <ul>
                        <li>
                            <a href="./">Аудит маркетплейсов</a>
                        </li>
                        <li>
                            <a href="./">Создание карточек товара</a>
                        </li>
                        <li>
                            <a href="./">Комплексное сопровождение</a>
                        </li>
                        <li>
                            <a href="./">Рекламана маркетплейсах</a>
                        </li>
                        <li>
                            <a href="./">Выход на маркетплейсы</a>
                        </li>
                        <li>
                            <a href="./">Консультации</a>
                        </li>
                    </ul>
                    <a href="./" class="footer-top-menu__more">все услуги</a>
                </div>
                <div class="footer-top-menu menu2">
                    <div class="footer-top-menu__title">Информация:</div>
                    <ul>
                        <li>
                            <a href="./">Блог</a>
                        </li>
                        <li>
                            <a href="./">Кейсы</a>
                        </li>
                        <li>
                            <a href="./">Отзывы</a>
                        </li>
                        <li>
                            <a href="./">FAQ</a>
                        </li>
                        <li>
                            <a href="./">Политика конфиденциальности</a>
                        </li>
                        <li>
                            <a href="./">Пользовательское соглашение</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top-contacts">
                    <div class="footer-top-contacts__title">
                        Контакты:
                    </div>
                    <div class="footer-top-contacts__body">
                        <a href="tel:79882500408" class="footer-top-contacts__column column-link phone">
                            <div class="footer-top-contacts__icon">
                                <svg aria-hidden="true" width="16" height="16">
                                    <use xlink:href="img/sprite.svg#phone"></use>
                                </svg>
                            </div>
                            <span>+7 988 <strong>250-04-08</strong></span>
                        </a>
                        <a href="mailto:support@sellagency.ru" class="footer-top-contacts__column column-link">
                            <div class="footer-top-contacts__icon">
                                <svg aria-hidden="true" width="15" height="12">
                                    <use xlink:href="img/sprite.svg#mail"></use>
                                </svg>
                            </div>
                            <span>support@sellagency.ru</span>
                        </a>
                        <div class="footer-top-contacts__column">
                            <div class="footer-top-contacts__icon">
                                <svg aria-hidden="true" width="15" height="15">
                                    <use xlink:href="img/sprite.svg#time"></use>
                                </svg>
                            </div>
                            <span>Пн-Вс: с 9-00 до 18-00</span>
                        </div>
                        <div class="footer-top-contacts__column">
                            <div class="footer-top-contacts__icon">
                                <svg aria-hidden="true" width="14" height="16">
                                    <use xlink:href="img/sprite.svg#map"></use>
                                </svg>
                            </div>
                            <span>
                                г. Москва, Красносельская нижн. ул., д. 35, стр. 64, офис 305, Бизнес-центр «Виктория
                                плаза»
                            </span>
                        </div>
                    </div>
                    <div class="socials">
                        <a href="./">
                            <img loading="lazy" src="img/icons/tg.svg" alt="">
                        </a>
                        <a href="./">
                            <img loading="lazy" src="img/icons/wh.svg" alt="">
                        </a>
                        <a href="./">
                            <img loading="lazy" src="img/icons/vk.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom__content">
                <div class="footer-bottom__copy">Copyright © 2026 SellAgency</div>
                <div class="footer-bottom__text">
                    Разработка сайта: <a href="./">miridea.ru</a>
                </div>
            </div>
        </div>
    </div>
</footer>