<!DOCTYPE html>
<html lang="ru">

<head>
    <title>О нас</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main">
                <img src="img/bg1.webp" alt="" class="block-main__bg">
                <div class="container">
                    <h1 class="title1">О нас</h1>
                </div>
            </div>

            <div class="block-about block-main-about">
                <div class="container">
                    <div class="block-about__contents">
                        <img loading="lazy" src="img/image20.webp" alt="" class="block-about__pic1">
                        <div class="block-about__content">
                            <div class="block-about__body">
                                <p>
                                    Мы обеспечиваем все условия для роста: от аналитики до рекламы. Даем гарантию на
                                    качественно выполненные работы в срок. Результат в виде заказов и выручки зависит от
                                    многих факторов, в том числе от вашего бюджета на рекламу, поведения самой площадки
                                    маркетплейса и других факторов. Поэтому гарантировать определенное количество
                                    заказов
                                    и/или определенный прирост мы не в силах.
                                </p>
                                <div class="showmore">
                                    <ul class="showmore__content">
                                        <li>
                                            <span>
                                                Целостную картину о работе вашего бизнеса на маркетплейсах
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Рабочую схему продаж ваших товаров с учетом специфики маркетплейса
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Подробные аналитические данные для принятия верных управленческих
                                                решений
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Продающий контент с учетом особенностей товарного ассортимента
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Повышение узнаваемости вашего бренда среди конкурентов
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Готовую стратегию развития вашего бизнеса на маркетплейсах
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Экспертные консультации от опытной команды специалистов, которые глубоко
                                                разбираются в бизнес-процессах маркетплейсов
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-benefits1">
                <img loading="lazy" src="img/bg2.webp" alt="" class="block-benefits1__bg">
                <div class="container">
                    <div class="block-benefits1__content">
                        <h2 class="title2 white">
                            Почему нас выбирают
                        </h2>
                        <div class="block-benefits1__body">
                            <div class="block-benefits1__column">
                                <div class="block-benefits1__items">
                                    <img loading="lazy" src="img/image14.webp" alt=""
                                        class="block-benefits1__pic1 img1">
                                    <div class="block-benefits1__item">
                                        <div class="block-benefits1__title">
                                            Опыт работы
                                        </div>
                                        <p>
                                            Проводится ведущим экспертом агентства, специализирующимся на конкретном
                                            маркетплейсе
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-benefits1__column">
                                <div class="block-benefits1__items">
                                    <img loading="lazy" src="img/image15.webp" alt=""
                                        class="block-benefits1__pic1 img2">
                                    <div class="block-benefits1__item item-long">
                                        <div class="block-benefits1__title">
                                            Официальное партнерство с маркетплейсами
                                        </div>
                                        <p>
                                            Проводится ведущим экспертом агентства, специализирующимся на конкретном
                                            маркетплейсе
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-benefits1__column">
                                <div class="block-benefits1__items">
                                    <img loading="lazy" src="img/image16.webp" alt="" class="block-benefits1__pic1">
                                    <div class="block-benefits1__item">
                                        <div class="block-benefits1__title">
                                            Гарантия результата
                                        </div>
                                        <p>
                                            Проводится ведущим экспертом агентства, специализирующимся на конкретном
                                            маркетплейсе
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-benefits1__column">
                                <div class="block-benefits1__items">
                                    <img loading="lazy" src="img/image17.webp" alt="" class="block-benefits1__pic1">
                                    <div class="block-benefits1__item">
                                        <div class="block-benefits1__title">
                                            Команда экспертов
                                        </div>
                                        <p>
                                            Проводится ведущим экспертом агентства, специализирующимся на конкретном
                                            маркетплейсе
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-benefits1__column">
                                <div class="block-benefits1__items">
                                    <img loading="lazy" src="img/image18.webp" alt=""
                                        class="block-benefits1__pic1 img3">
                                    <div class="block-benefits1__item item-long">
                                        <div class="block-benefits1__title">
                                            Индивидуальный подход
                                        </div>
                                        <p>
                                            Проводится ведущим экспертом агентства, специализирующимся на конкретном
                                            маркетплейсе
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-benefits1__column">
                                <div class="block-benefits1__items">
                                    <img loading="lazy" src="img/image19.webp" alt=""
                                        class="block-benefits1__pic1 img4">
                                    <div class="block-benefits1__item">
                                        <div class="block-benefits1__title">
                                            Прозрачная отчетность
                                        </div>
                                        <p>
                                            Проводится ведущим экспертом агентства, специализирующимся на конкретном
                                            маркетплейсе
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-work-process">
                <img loading="lazy" src="img/bg1.webp" alt="" class="block-work-process__bg1">
                <div class="container">
                    <div class="block-work-process__content">
                        <h2 class="title2">
                            процесс работы
                        </h2>
                        <div class="block-work-process__body">
                            <div class="block-work-process__column">
                                <div class="block-work-process__numbers">
                                    <div class="block-work-process__number">
                                        <span>01</span>
                                    </div>
                                </div>
                                <div class="block-work-process__item">
                                    <div class="block-work-process__title">
                                        Создание магазина и
                                        наполнение витрины
                                    </div>
                                    <p>
                                        Регистрация, составление
                                        каталога товаров,
                                        настройка склада и остатков,
                                        настройка витрины
                                    </p>
                                </div>
                            </div>
                            <div class="block-work-process__column">
                                <div class="block-work-process__numbers">
                                    <div class="block-work-process__number">
                                        <span>02</span>
                                    </div>
                                </div>
                                <div class="block-work-process__item">
                                    <div class="block-work-process__title">
                                        Работа в Личном кабинете
                                    </div>
                                    <p>
                                        Настроика работы в Личном
                                        кабинете продавца на всех
                                        маркетплейса, помощь с товарным
                                        ассортиментом, анализ ниши и конкурентов, детальная дорожная карта по
                                        дальнейшему развитию магазина
                                    </p>
                                </div>
                            </div>
                            <div class="block-work-process__column">
                                <div class="block-work-process__numbers">
                                    <div class="block-work-process__number">
                                        <span>03</span>
                                    </div>
                                </div>
                                <div class="block-work-process__item">
                                    <div class="block-work-process__title">
                                        Продвижение
                                        магазина и товаров
                                    </div>
                                    <p>
                                        Продвижение магазина и
                                        товаров, выбор рекламных
                                        инструментов, оптимизация контента
                                    </p>
                                </div>
                            </div>
                            <div class="block-work-process__column">
                                <div class="block-work-process__numbers">
                                    <div class="block-work-process__number">
                                        <span>04</span>
                                    </div>
                                </div>
                                <div class="block-work-process__item">
                                    <div class="block-work-process__title">
                                        Работа с контентом
                                        товарной матрицы
                                    </div>
                                    <p>
                                        Создание, проработка и редактирование контента, работа с описанием и
                                        характеристиками карточек товара
                                    </p>
                                </div>
                            </div>
                            <div class="block-work-process__column">
                                <div class="block-work-process__numbers">
                                    <div class="block-work-process__number">
                                        <span>05</span>
                                    </div>
                                </div>
                                <div class="block-work-process__item">
                                    <div class="block-work-process__title">
                                        Масштабирование и
                                        развитие магазина
                                    </div>
                                    <p>
                                        Расширение ассортимента, автоматизация бизнес-
                                        процессов, Выход на другие маркетплейсы
                                    </p>
                                </div>
                            </div>
                            <div class="block-work-process__column">
                                <div class="block-work-process__numbers">
                                    <div class="block-work-process__number">
                                        <span>06</span>
                                    </div>
                                </div>
                                <div class="block-work-process__item">
                                    <div class="block-work-process__title">
                                        Аналитика и аудит
                                        магазина
                                    </div>
                                    <p>
                                        Расчет финансовой
                                        эффективности торговли на МП
                                        АВС-анализ магазина и текущего
                                        ассортимента
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-forms block-forms-about">
                <img src="img/bg4.webp" alt="" class="block-forms__bg1">
                <div class="container">
                    <div class="block-forms__content">
                        <form action="#" class="form">
                            <div class="form__top">
                                <h2 class="title2 white">
                                    Остались вопросы?
                                </h2>
                                <p>
                                    Напишите нам интересующие вас вопросы и наш менеджер
                                    вам ответит в первую свободную минуту
                                </p>
                            </div>
                            <div class="form__inputs">
                                <div class="form__input">
                                    <div class="form__icon">
                                        <svg aria-hidden="true" width="10" height="11">
                                            <use xlink:href="img/sprite.svg#user"></use>
                                        </svg>
                                    </div>
                                    <input data-required autocomplete="off" type="text" name="form[]"
                                        placeholder="Ваше имя" class="input">
                                </div>
                                <div class="form__input">
                                    <div class="form__icon">
                                        <svg aria-hidden="true" width="12" height="12">
                                            <use xlink:href="img/sprite.svg#phone"></use>
                                        </svg>
                                    </div>
                                    <input data-required autocomplete="off" type="text" name="form[]"
                                        placeholder="Телефон" class="input telephone">
                                </div>
                                <div class="form__input form-long">
                                    <div class="form__icon">
                                        <svg aria-hidden="true" width="11" height="9">
                                            <use xlink:href="img/sprite.svg#mail"></use>
                                        </svg>
                                    </div>
                                    <input data-required="email" autocomplete="off" type="text" name="form[]"
                                        placeholder="Email" class="input">
                                </div>
                                <div class="form__input form-long form-textarea">
                                    <div class="form__icon">
                                        <svg aria-hidden="true" width="14" height="13">
                                            <use xlink:href="img/sprite.svg#pen"></use>
                                        </svg>
                                    </div>
                                    <textarea placeholder="Ваше сообщение" class="input textarea"></textarea>
                                </div>
                            </div>
                            <div class="form__bottom bottom-row">
                                <button type="submit" class="btn btn-orange">
                                    <span>Отправить</span>
                                </button>
                                <div class="form__text">
                                    Нажимая кнопку, вы соглашаетесь с политикой конфиденциальности
                                </div>
                            </div>
                        </form>
                        <div class="block-forms__image">
                            <img loading="lazy" src="img/image23.webp" alt="" class="block-forms__pic1">
                            <img loading="lazy" src="img/image24.webp" alt="" class="block-forms__pic2">
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>