<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Страница кейса</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main block-main-cases">
                <img src="img/bg1.webp" alt="" class="block-main__bg">
                <div class="container">
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="#" class="home">
                                    <svg aria-hidden="true" width="18" height="16">
                                        <use xlink:href="img/sprite.svg#home"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="./">Кейсы</a>
                            </li>
                            <li><span>Автоматизация процессов дилера спорттоваров на маркетплейсах</span></li>
                        </ul>
                    </div>
                    <h1 class="title1">
                        Автоматизация процессов дилера спорттоваров на маркетплейсах
                    </h1>
                </div>
            </div>

            <div class="block-page-cases">
                <div class="container">
                    <div class="block-page-cases__contents">
                        <img loading="lazy" src="img/icons/triagle2.svg" alt="" class="block-page-cases__bg">
                        <div class="block-page-cases__content">
                            <div class="page-cases-results">
                                <h2 class="title2">Результат</h2>
                                <div class="page-cases-results__body">
                                    <div class="page-cases-results__slider swiper">
                                        <div class="page-cases-results__wrapper swiper-wrapper">
                                            <div class="page-cases-results__slide swiper-slide">
                                                <img loading="lazy" src="img/image39.webp" alt="">
                                            </div>
                                            <div class="page-cases-results__slide swiper-slide">
                                                <img loading="lazy" src="img/image40.webp" alt="">
                                            </div>
                                            <div class="page-cases-results__slide swiper-slide">
                                                <img loading="lazy" src="img/image39.webp" alt="">
                                            </div>
                                            <div class="page-cases-results__slide swiper-slide">
                                                <img loading="lazy" src="img/image40.webp" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page-cases-results__arrow-prev arrow-prev">
                                        <svg aria-hidden="true" width="20" height="14">
                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                        </svg>
                                    </div>
                                    <div class="page-cases-results__arrow-next arrow-next">
                                        <svg aria-hidden="true" width="20" height="14">
                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="page-cases-reviews">
                                <h2 class="title2">Отзыв клиента</h2>
                                <div class="page-cases-reviews__body">
                                    <div class="page-cases-reviews__left">
                                        <img loading="lazy" src="img/image38.webp" alt=""
                                            class="page-cases-reviews__pic1">
                                        <img loading="lazy" src="img/logo1.webp" alt=""
                                            class="page-cases-reviews__logo">
                                    </div>
                                    <div class="page-cases-reviews__right">
                                        <div class="page-cases-reviews__text">
                                            <p>
                                                ООО “Княгиня”. Мы обеспечиваем все условия для роста: от аналитики до
                                                рекламы. Даем гарантию на качественно выполненные работы в срок.
                                            </p>
                                            <p>
                                                Результат в виде заказов и выручки зависит от многих факторов, в том
                                                числе
                                                от вашего бюджета на рекламу, поведения самой площадки маркетплейса и
                                                других
                                                факторов. Поэтому гарантировать определенное количество заказов или
                                                определенный прирост мы не в силах. Мы обеспечиваем все условия для
                                                роста:
                                                от аналитики до рекламы. Даем гарантию на качественно выполненные работы
                                                в
                                                срок.
                                            </p>
                                        </div>
                                        <div class="page-cases-reviews__title">
                                            <span>Генеральный директор</span>
                                            Лещенко Оксана Леонидовна
                                        </div>
                                        <a href="mailto:www.knyginy.ru" class="page-cases-reviews__link">
                                            <span>www.knyginy.ru</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-before-after">
                <div class="container">
                    <div class="block-before-after__content">
                        <h2 class="title2">до и после</h2>
                        <div class="block-before-after__body">
                            <div class="block-before-after__slider swiper">
                                <div class="block-before-after__wrapper swiper-wrapper">
                                    <div class="block-before-after__slide swiper-slide">
                                        <div data-ba class="before-after">
                                            <div data-ba-before class="before-after__item">
                                                <img loading="lazy" src="img/chart.webp" alt="">
                                            </div>
                                            <div data-ba-after class="before-after__item">
                                                <img loading="lazy" src="img/chart.webp" alt="">
                                            </div>
                                            <div data-ba-arrow class="before-after__arrows">
                                                <svg aria-hidden="true" width="28" height="18">
                                                    <use xlink:href="img/sprite.svg#arrows"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-before-after__slide swiper-slide">
                                        <div data-ba class="before-after">
                                            <div data-ba-before class="before-after__item">
                                                <img loading="lazy" src="img/chart.webp" alt="">
                                            </div>
                                            <div data-ba-after class="before-after__item">
                                                <img loading="lazy" src="img/chart.webp" alt="">
                                            </div>
                                            <div data-ba-arrow class="before-after__arrows">
                                                <svg aria-hidden="true" width="28" height="18">
                                                    <use xlink:href="img/sprite.svg#arrows"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-before-after__arrow-prev arrow-prev">
                                <svg aria-hidden="true" width="20" height="14">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                            </div>
                            <div class="block-before-after__arrow-next arrow-next">
                                <svg aria-hidden="true" width="20" height="14">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-services1 block-services1-cases">
                <div class="container">
                    <div class="block-services1__contents">
                        <img loading="lazy" src="img/icons/triagle.svg" alt="" class="block-services1__bg">
                        <div class="block-services1__content">
                            <div class="title2">
                                Что входило в работу
                            </div>
                            <div class="block-services1__body">
                                <a href="./" class="block-services1__column">
                                    <div class="block-services1__left">
                                        <div class="block-services1__images">
                                            <div class="block-services1__image">
                                                <img loading="lazy" src="img/image4.webp" alt="">
                                            </div>
                                            <div class="block-services1__title mob">
                                                Аудит маркетплейсов
                                            </div>
                                        </div>
                                        <div class="block-services1__titles">
                                            <div class="block-services1__title desc">
                                                Аудит маркетплейсов
                                            </div>
                                            <p>
                                                Проводится ведущим экспертом агентства, специализирующимся на конкретном
                                                маркетплейсе
                                            </p>
                                        </div>
                                    </div>
                                    <div class="block-services1__right">
                                        <div class="btn">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="block-services1__column">
                                    <div class="block-services1__left">
                                        <div class="block-services1__images">
                                            <div class="block-services1__image">
                                                <img loading="lazy" src="img/image5.webp" alt="">
                                            </div>
                                            <div class="block-services1__title mob">
                                                Реклама<br> на маркетплейсах
                                            </div>
                                        </div>
                                        <div class="block-services1__titles">
                                            <div class="block-services1__title desc">
                                                Реклама<br> на маркетплейсах
                                            </div>
                                            <p>
                                                Проводится ведущим экспертом агентства, специализирующимся на конкретном
                                                маркетплейсе
                                            </p>
                                        </div>
                                    </div>
                                    <div class="block-services1__right">
                                        <div class="btn">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="block-services1__column">
                                    <div class="block-services1__left">
                                        <div class="block-services1__images">
                                            <div class="block-services1__image">
                                                <img loading="lazy" src="img/image6.webp" alt="">
                                            </div>
                                            <div class="block-services1__title mob">
                                                Создание карточек товара
                                            </div>
                                        </div>
                                        <div class="block-services1__titles">
                                            <div class="block-services1__title desc">
                                                Создание карточек товара
                                            </div>
                                            <p>
                                                Проводится ведущим экспертом агентства, специализирующимся на конкретном
                                                маркетплейсе
                                            </p>
                                        </div>
                                    </div>
                                    <div class="block-services1__right">
                                        <div class="btn">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="block-services1__column">
                                    <div class="block-services1__left">
                                        <div class="block-services1__images">
                                            <div class="block-services1__image">
                                                <img loading="lazy" src="img/image8.webp" alt="">
                                            </div>
                                            <div class="block-services1__title mob">
                                                Комплексное сопровождение
                                            </div>
                                        </div>
                                        <div class="block-services1__titles">
                                            <div class="block-services1__title desc">
                                                Комплексное сопровождение
                                            </div>
                                            <p>
                                                Проводится ведущим экспертом агентства, специализирующимся на конкретном
                                                маркетплейсе
                                            </p>
                                        </div>
                                    </div>
                                    <div class="block-services1__right">
                                        <div class="btn">
                                            <span>Подробнее</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-banner">
                <img loading="lazy" src="img/bg4.webp" alt="" class="block-banner__bg">
                <div class="container">
                    <div class="block-banner__content">
                        <h2 class="title2">Хотите такой же результат?</h2>
                        <a href="./" data-popup="#calculate" class="btn btn-orange">
                            <span>Заказать аудит</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="block-cases block-cases-page">
                <div class="container">
                    <div class="block-cases__content">
                        <h2 class="title2">
                            Другие кейсы
                        </h2>
                        <div class="block-cases__body">
                            <div class="block-cases__column">
                                <img loading="lazy" src="img/triagle2.webp" alt="" class="block-cases__svg">
                                <div class="block-cases__items">
                                    <div class="block-cases__image">
                                        <img loading="lazy" src="img/cases1.webp" alt="">
                                    </div>
                                    <div class="block-cases__item">
                                        <div class="block-cases__titles">
                                            <div class="block-cases__title">
                                                Автоматизация процессов
                                                дилера спорттоваров
                                                на маркетплейсах
                                            </div>
                                            <p>
                                                ООО “Novasport” <span>- Спортивные товары</span>
                                            </p>
                                        </div>
                                        <div class="block-cases__lists">
                                            <div class="block-cases__list">
                                                <div class="block-cases__left">
                                                    <div class="block-cases__icon">
                                                        <svg aria-hidden="true" width="18" height="18">
                                                            <use xlink:href="img/sprite.svg#chart"></use>
                                                        </svg>
                                                    </div>
                                                    <span>Рост продаж:</span>
                                                </div>
                                                <div class="block-cases__right right-green">
                                                    <span>+95%</span>
                                                    <svg class="arrow-up" aria-hidden="true" width="9" height="16">
                                                        <use xlink:href="img/sprite.svg#arrow2"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="block-cases__list">
                                                <div class="block-cases__left">
                                                    <div class="block-cases__icon">
                                                        <svg aria-hidden="true" width="19" height="20">
                                                            <use xlink:href="img/sprite.svg#ddr"></use>
                                                        </svg>
                                                    </div>
                                                    <span>ДДР:</span>
                                                </div>
                                                <div class="block-cases__right">
                                                    <span>+9%</span>
                                                    <svg aria-hidden="true" width="9" height="16">
                                                        <use xlink:href="img/sprite.svg#arrow2"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="block-cases__list">
                                                <div class="block-cases__left">
                                                    <div class="block-cases__icon">
                                                        <svg aria-hidden="true" width="20" height="20">
                                                            <use xlink:href="img/sprite.svg#money"></use>
                                                        </svg>
                                                    </div>
                                                    <span>Выручка:</span>
                                                </div>
                                                <div class="block-cases__right right-price">
                                                    <span>7.2 млн ₽</span>
                                                </div>
                                            </div>
                                            <div class="block-cases__list">
                                                <div class="block-cases__left">
                                                    <div class="block-cases__icon">
                                                        <svg aria-hidden="true" width="20" height="20">
                                                            <use xlink:href="img/sprite.svg#term"></use>
                                                        </svg>
                                                    </div>
                                                    <span>Срок:</span>
                                                </div>
                                                <div class="block-cases__right right-term">
                                                    <span>5 месяцев</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="./" class="btn">
                                            <span>Читать кейс полностью</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-cases__column">
                                <img loading="lazy" src="img/triagle2.webp" alt="" class="block-cases__svg">
                                <div class="block-cases__items">
                                    <div class="block-cases__image">
                                        <img loading="lazy" src="img/cases2.webp" alt="">
                                    </div>
                                    <div class="block-cases__item">
                                        <div class="block-cases__titles">
                                            <div class="block-cases__title">
                                                Потоковая упаковка заказов
                                                FBS для дистрибьютора
                                                автозапчастей
                                            </div>
                                            <p>
                                                ООО “Княгиня” <span>- оптовую продажу автозапчастей российских
                                                    брендов</span>
                                            </p>
                                        </div>
                                        <div class="block-cases__lists">
                                            <div class="block-cases__list">
                                                <div class="block-cases__left">
                                                    <div class="block-cases__icon">
                                                        <svg aria-hidden="true" width="18" height="18">
                                                            <use xlink:href="img/sprite.svg#chart"></use>
                                                        </svg>
                                                    </div>
                                                    <span>Рост продаж:</span>
                                                </div>
                                                <div class="block-cases__right right-green">
                                                    <span>+210%</span>
                                                    <svg class="arrow-up" aria-hidden="true" width="9" height="16">
                                                        <use xlink:href="img/sprite.svg#arrow2"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="block-cases__list">
                                                <div class="block-cases__left">
                                                    <div class="block-cases__icon">
                                                        <svg aria-hidden="true" width="19" height="20">
                                                            <use xlink:href="img/sprite.svg#ddr"></use>
                                                        </svg>
                                                    </div>
                                                    <span>ДДР:</span>
                                                </div>
                                                <div class="block-cases__right">
                                                    <span>+9%</span>
                                                    <svg aria-hidden="true" width="9" height="16">
                                                        <use xlink:href="img/sprite.svg#arrow2"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="block-cases__list">
                                                <div class="block-cases__left">
                                                    <div class="block-cases__icon">
                                                        <svg aria-hidden="true" width="20" height="20">
                                                            <use xlink:href="img/sprite.svg#money"></use>
                                                        </svg>
                                                    </div>
                                                    <span>Выручка:</span>
                                                </div>
                                                <div class="block-cases__right right-price">
                                                    <span>14.8 млн ₽</span>
                                                </div>
                                            </div>
                                            <div class="block-cases__list">
                                                <div class="block-cases__left">
                                                    <div class="block-cases__icon">
                                                        <svg aria-hidden="true" width="20" height="20">
                                                            <use xlink:href="img/sprite.svg#term"></use>
                                                        </svg>
                                                    </div>
                                                    <span>Срок:</span>
                                                </div>
                                                <div class="block-cases__right right-term">
                                                    <span>6 месяцев</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="./" class="btn">
                                            <span>Читать кейс полностью</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-cases__column">
                                <img loading="lazy" src="img/triagle2.webp" alt="" class="block-cases__svg">
                                <div class="block-cases__items">
                                    <div class="block-cases__image">
                                        <img loading="lazy" src="img/cases3.webp" alt="">
                                    </div>
                                    <div class="block-cases__item">
                                        <div class="block-cases__titles">
                                            <div class="block-cases__title">
                                                Снижение себестоимости
                                                операций в E-Commerce на 13 млн ₽
                                            </div>
                                            <p>
                                                ООО “ВелоМоторс” <span>- Спортивные товары</span>
                                            </p>
                                        </div>
                                        <div class="block-cases__lists">
                                            <div class="block-cases__list">
                                                <div class="block-cases__left">
                                                    <div class="block-cases__icon">
                                                        <svg aria-hidden="true" width="18" height="18">
                                                            <use xlink:href="img/sprite.svg#chart"></use>
                                                        </svg>
                                                    </div>
                                                    <span>Рост продаж:</span>
                                                </div>
                                                <div class="block-cases__right right-green">
                                                    <span>+145%</span>
                                                    <svg class="arrow-up" aria-hidden="true" width="9" height="16">
                                                        <use xlink:href="img/sprite.svg#arrow2"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="block-cases__list">
                                                <div class="block-cases__left">
                                                    <div class="block-cases__icon">
                                                        <svg aria-hidden="true" width="19" height="20">
                                                            <use xlink:href="img/sprite.svg#ddr"></use>
                                                        </svg>
                                                    </div>
                                                    <span>ДДР:</span>
                                                </div>
                                                <div class="block-cases__right">
                                                    <span>+9%</span>
                                                    <svg aria-hidden="true" width="9" height="16">
                                                        <use xlink:href="img/sprite.svg#arrow2"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="block-cases__list">
                                                <div class="block-cases__left">
                                                    <div class="block-cases__icon">
                                                        <svg aria-hidden="true" width="20" height="20">
                                                            <use xlink:href="img/sprite.svg#money"></use>
                                                        </svg>
                                                    </div>
                                                    <span>Выручка:</span>
                                                </div>
                                                <div class="block-cases__right right-price">
                                                    <span>21.5 млн ₽</span>
                                                </div>
                                            </div>
                                            <div class="block-cases__list">
                                                <div class="block-cases__left">
                                                    <div class="block-cases__icon">
                                                        <svg aria-hidden="true" width="20" height="20">
                                                            <use xlink:href="img/sprite.svg#term"></use>
                                                        </svg>
                                                    </div>
                                                    <span>Срок:</span>
                                                </div>
                                                <div class="block-cases__right right-term">
                                                    <span>1 год</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="./" class="btn">
                                            <span>Читать кейс полностью</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    <div id="calculate" aria-hidden="true" class="popup popup-forms popup-calculate">
        <div class="popup__wrapper">
            <div class="popup__content">
                <div data-close class="popup__close">
                    <svg aria-hidden="true" width="16" height="16">
                        <use xlink:href="img/sprite.svg#close"></use>
                    </svg>
                </div>
                <form action="#" class="form">
                    <div class="form__top">
                        <h2 class="title2">
                            Оцените потенциал роста на маркетплейсах
                        </h2>
                        <p>
                            Узнайте, каких результатов можно достичь на маркетплейсах за счет продвижения и оптимизации
                        </p>
                    </div>
                    <div class="form__checkbox-group">
                        <div class="form__checkbox-title">
                            На каких маркетплейсах у вас магазины:
                        </div>
                        <div class="form__checkboxes">
                            <label class="checkbox">
                                <input class="checkbox__input" type="checkbox" value="1" name="form[]">
                                <span class="checkbox__label">
                                    <span class="checkbox__icon">
                                        <svg aria-hidden="true" width="12" height="18">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </span>
                                    <span class="checkbox__text">Ozon</span>
                                </span>
                            </label>
                            <label class="checkbox">
                                <input class="checkbox__input" type="checkbox" value="2" name="form[]">
                                <span class="checkbox__label">
                                    <span class="checkbox__icon">
                                        <svg aria-hidden="true" width="12" height="18">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </span>
                                    <span class="checkbox__text">Wildberries</span>
                                </span>
                            </label>
                            <label class="checkbox">
                                <input class="checkbox__input" type="checkbox" value="3" name="form[]">
                                <span class="checkbox__label">
                                    <span class="checkbox__icon">
                                        <svg aria-hidden="true" width="12" height="18">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </span>
                                    <span class="checkbox__text">Яндекс Маркет</span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="form-rating">
                        <div class="form-rating__title">
                            Какое количество артикулов:
                        </div>
                        <div class="form-rating__body">
                            <div class="form-rating__range"></div>
                            <div class="range__values">
                                <span class="range__value range__value--min">1</span>
                                <span class="range__value range__value--max">1 000</span>
                            </div>
                        </div>
                    </div>

                    <div class="form__inputs">
                        <div class="form__input form-long form-textarea">
                            <div class="form__icon">
                                <svg aria-hidden="true" width="14" height="13">
                                    <use xlink:href="img/sprite.svg#pen"></use>
                                </svg>
                            </div>
                            <textarea placeholder="Какие товары продаете?" class="input textarea"></textarea>
                        </div>
                        <div class="form__input form-long">
                            <div class="form__icon">
                                <svg aria-hidden="true" width="12" height="12">
                                    <use xlink:href="img/sprite.svg#phone"></use>
                                </svg>
                            </div>
                            <input data-required autocomplete="off" type="text" name="phone"
                                placeholder="Номер телефона" class="input telephone">
                        </div>
                    </div>

                    <div class="form__bottom bottom-column">
                        <button type="submit" class="btn btn-orange">
                            <span>Оценить потенциал роста</span>
                        </button>
                        <div class="form__text">
                            Нажимая кнопку, вы соглашаетесь с политикой конфиденциальности
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>