body {
  color: var(--141e1f);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 0px 0px 0px 0px !important;
  &.hide-scrollbar {
    margin: 0px 0px 0px 0px !important;
  }
  .lock & {
    overflow: hidden;
  }
  .popup-show & {
    overflow: hidden;
  }
  &::before {
    content: "";
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 97;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .service-open & {
    overflow: hidden;
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  .menu-open & {
    overflow: hidden;
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.btn {
  position: relative;
  z-index: 8;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 57px;
  font-weight: 900;
  font-size: 13px;
  line-height: 138%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--ffffff);
  border-radius: 10px;
  background-color: var(--357cdf);
  box-shadow: 0 3px 0 0 #0d54b7;
  padding: 10px 30px;
  transition: background-color 0.3s;
  span {
    position: relative;
    z-index: 10;
    margin-top: 2px;
  }
  &:hover {
    background-color: #5097fa;
  }
  &.btn-orange {
    border-radius: 12px;
    position: relative;
    background:
      linear-gradient(30deg, rgba(255, 84, 48, 0) 0%, #ff5430 49.52%, rgba(255, 84, 48, 0) 100%), var(--ff755b-2-paints);
    box-shadow: 0 5px 0 0 #f04622;
    &::before {
      content: "";
      position: absolute;
      border-radius: 12px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #e9826d;
      opacity: 0;
      transition: opacity 0.3s;
    }
    &:hover {
      &::before {
        content: "";
        opacity: 1;
      }
    }
  }
}

.title1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 66px;
  line-height: 115%;
  text-transform: uppercase;
  background: linear-gradient(336deg, #141e1f 0%, #fff 503.85%, #141e1f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: 992px) {
    text-align: center;
    font-size: 54px;
  }
  @media (max-width: 768px) {
    font-size: 36px;
    line-height: 128%;
  }
  @media (max-width: 359px) {
    font-size: 30px;
  }
}
.title2 {
  position: relative;
  z-index: 10;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 46px;
  line-height: 117%;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(336deg, #141e1f 0%, #fff 503.85%, #141e1f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &.white {
    color: var(--ffffff);
    background: none;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: initial;
    span {
      color: transparent;
      background-clip: text !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
      background:
        linear-gradient(30deg, rgba(255, 84, 48, 0) 0%, #ff5430 49.52%, rgba(255, 84, 48, 0) 100%),
        var(--ff755b-2-paints);
    }
  }
  @media (max-width: 768px) {
    font-size: 30px;
    line-height: 127%;
  }
}

.block1 {
  padding: 0px 0px 100px 0px;
  @media (max-width: 768px) {
    padding: 0px 0px 65px 0px;
  }
}

.showmore {
  display: flex;
  flex-direction: column;
  gap: 55px;
  @media (max-width: 768px) {
    width: 100%;
    align-items: center;
    gap: 40px;
  }
  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    bottom: 65px;
    left: 0;
    width: 100%;
    height: 420px;
    transition: opacity 0.3s;
    background: linear-gradient(180deg, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 0.8) 80.29%, #f8f8f8 100%);
  }
  &._showmore-active {
    &::after {
      content: "";
      opacity: 0;
    }
    .showmore__more {
      span {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: flex;
        }
      }
    }
  }
  // .showmore__content

  &__content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    h2 {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 46px;
      line-height: 117%;
      text-transform: uppercase;
      background: linear-gradient(336deg, #141e1f 0%, #fff 503.85%, #141e1f 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h3 {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 30px;
      line-height: 117%;
      text-transform: uppercase;
      background: linear-gradient(336deg, #141e1f 0%, #fff 503.85%, #141e1f 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    ol {
      list-style-type: decimal !important;
      padding-left: 20px !important;
      li {
        margin: 0px 0px 15px 0px;
        gap: 24px;
        font-weight: 600;
        font-size: 18px;
        line-height: 156%;
        @media (max-width: 550px) {
          gap: 10px;
          font-size: 14px;
          line-height: 130%;
        }
        &:last-child {
          margin: 0px 0px 0px 0px;
        }
      }
    }
    ul {
      li {
        margin: 0px 0px 15px 0px;
        display: flex;
        align-items: start;
        gap: 24px;
        font-weight: 600;
        font-size: 18px;
        line-height: 156%;
        @media (max-width: 550px) {
          gap: 10px;
          font-size: 14px;
          line-height: 130%;
        }
        &:last-child {
          margin: 0px 0px 0px 0px;
        }
        &::before {
          content: "";
          margin: 10px 0px 0px 0px;
          width: 8px;
          height: 7px;
          flex: 0 0 8px;
          border-radius: 50%;
          background: var(--357cdf);
          box-shadow:
            0 30px 50px 0 rgba(45, 68, 76, 0.1),
            0 1px 0 0 #0d54b7;
          @media (max-width: 550px) {
            margin: 5px 0px 0px 0px;
          }
        }
      }
    }
  }

  // .showmore__more

  &__more {
    min-width: 240px;
    @media (max-width: 550px) {
      min-width: 100%;
      width: 100%;
    }
    span {
      &:last-child {
        display: none;
      }
    }
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  a {
    border-radius: 12px;
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    transition: opacity 0.3s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.pagging {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  // .pagging__item
  &__item {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    gap: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s;
    background-color: transparent;
    font-weight: 900;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    &:hover {
      opacity: 0.7;
    }
    @media (max-width: 550px) {
      width: 35px;
      height: 35px;
      font-size: 14px;
    }
    // .pagging__item_nav

    &_nav {
      font-weight: 900;
      font-size: 16px;
      line-height: 125%;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      transition: opacity 0.3s;
      svg {
        transform: rotate(-90deg);
        fill: var(--357cdf);
      }
      &:hover {
        opacity: 0.7;
      }
    }

    // .pagging__item_nav-text

    &_nav-text {
      @media (max-width: 768px) {
        display: none;
      }
    }

    // .pagging__item_nav-prev

    &_nav-prev {
      svg {
        transform: rotate(90deg);
      }
    }

    // .pagging__item_active

    &_active {
      background:
        linear-gradient(30deg, rgba(255, 84, 48, 0) 0%, #ff5430 49.52%, rgba(255, 84, 48, 0) 100%),
        var(--ff755b-2-paints);
      color: var(--ffffff);
    }

    // .pagging__item_ellipsis

    &_ellipsis {
      opacity: 0.5;
      pointer-events: none;
    }

    // .pagging__item_nav-next

    &_nav-next {
    }
  }

  // .pagging__center

  &__center {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    gap: 10px;
    @media (max-width: 550px) {
      gap: 5px;
    }
  }
}
