.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: background-color 0.3s;
    background-color: transparent;
    &._header-scroll {
        background-color: #fff;
    }
    .menu-open &,
    .service-open & {
        background-color: #fff;
    }
    .container {
        padding: 0px 20px 0px 15px;
        max-width: 1325px;
    }
    // .header__bg

    &__bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: none;
        @media (max-width: 768px) {
            .menu-open &,
            .service-open & {
                display: block;
            }
        }
    }

    // .header__content

    &__content {
        position: relative;
        z-index: 10;
        padding: 15px 0px;
        display: flex;
        align-items: center;
        gap: 18px;
        @media (max-width: 1300px) {
            padding: 10px 0px;
        }
        @media (max-width: 550px) {
            gap: 0px;
        }
    }

    // .header__logo

    &__logo {
        display: flex;
        width: 100%;
        height: auto;
        max-width: 132px;
        transition: max-width 0.3s;
        img {
            width: 100%;
            height: auto;
        }
        &.desc {
            @media (max-width: 992px) {
                display: none;
            }
        }
        &.mob {
            display: none;
            @media (max-width: 992px) {
                display: block;
            }
        }
        @media (max-width: 1300px) {
            max-width: 100px;
        }
        @media (max-width: 992px) {
            width: auto;
            flex: 0 0 auto;
            height: 90px;
            max-width: fit-content;
            img {
                height: 100%;
                width: auto;
            }
        }
        @media (max-width: 359px) {
            max-width: 70px;
            height: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    // .header__body

    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (max-width: 1300px) {
            gap: 10px;
        }
    }
}
.header-top {
    border-radius: 10px;
    background: var(--ffffff);
    box-shadow: 0 20px 50px 0 rgba(45, 68, 76, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px 23px 40px;
    @media (max-width: 1300px) {
        padding: 0px 0px 0px 0px;
        box-shadow: none;
        background: transparent;
    }
    // .header-top__text

    &__text {
        flex: 0 1 295px;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: rgba(20, 30, 31, 0.6);
        span {
            font-weight: 600;
            color: var(--141e1f);
        }
        @media (max-width: 1300px) {
            display: none;
        }
    }

    // .header-top__right

    &__right {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
        @media (max-width: 550px) {
            gap: 15px;
            margin-top: -5px;
        }
        .btn {
            @media (max-width: 992px) {
                display: none;
            }
        }
    }

    // .header-top__contacts

    &__contacts {
        display: flex;
        align-items: center;
        gap: 6px 30px;
        @media (max-width: 992px) {
            flex-direction: column-reverse;
            align-items: flex-end;
        }
        .socials {
            @media (max-width: 992px) {
                gap: 10px;
            }
            a {
                @media (max-width: 992px) {
                    width: 30px;
                    height: 30px;
                    flex: 0 0 30px;
                }
            }
        }
    }

    // .header-top__phone

    &__phone {
        white-space: nowrap;
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        transition: color 0.3s;
        &:hover {
            color: var(--ff755b-2-paints);
            svg {
                fill: var(--ff755b-2-paints);
            }
        }
        @media (max-width: 359px) {
            font-size: 16px;
        }
    }

    // .header-top__icon

    &__icon {
        flex: 0 0 16px;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            transition: fill 0.3s;
            fill: var(--141e1f);
        }
        @media (max-width: 550px) {
            display: none;
        }
    }

    // .header-top__burger

    &__burger {
        display: none;
        @media (max-width: 1300px) {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background: var(--357cdf);
            box-shadow: 0 3px 0 0 #0d54b7;
            width: 70px;
            height: 67px;
            flex: 0 0 70px;
            .menu-open & {
                background:
                    linear-gradient(30deg, rgba(255, 84, 48, 0) 0%, #ff5430 49.52%, rgba(255, 84, 48, 0) 100%),
                    var(--ff755b-2-paints);
                box-shadow: 0 3px 0 0 #f04622;
            }
        }
        .icon-menu {
            width: 24px;
            height: 22px;
            span,
            &::before,
            &::after {
                content: "";
                transition: background-color 0.3s ease 0s;
                right: auto;
                left: 0;
                position: absolute;
                width: 100%;
                height: 3px;
                border-radius: 10px;
                background: #fff;
            }
            &::after {
                content: "";
                width: 13px;
            }
            .menu-open & {
                &::before {
                    top: calc(50% - 1px);
                    transform: rotate(-45deg);
                }
                span {
                    width: 0;
                }
                &::after {
                    content: "";
                    width: 100%;
                    bottom: calc(50% - 1.5px);
                    transform: rotate(45deg);
                }
            }
        }
    }
}
.header-menu {
    display: flex;
    justify-content: center;
    gap: 50px;
    @media (max-width: 1300px) {
        gap: 20px;
    }
    // .header-menu__body

    &__body {
        @media (max-width: 1300px) {
            position: absolute;
            z-index: 50;
            padding: 43px 20px 40px 20px;
            top: 100%;
            right: -100%;
            width: 350px;
            flex: 1;
            height: calc(100vh - 157px);
            background: #fff;
            transition: right 0.3s;
            overflow-y: auto;
            overflow-x: hidden;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            .menu-open & {
                right: -20px;
            }
        }
        @media (max-width: 992px) {
            height: calc(100vh - 180px);
        }
        @media (max-width: 768px) {
            transition: opacity 0.3s;
            width: calc(100% + 40px);
            opacity: 0;
            left: -20px;
            background-color: transparent;
            pointer-events: none;
            .menu-open & {
                right: auto;
                opacity: 1;
                pointer-events: auto;
            }
        }
        @media (max-width: 359px) {
            height: calc(100vh - 178px);
        }
        ul {
            position: relative;
            z-index: 10;
            display: flex;
            gap: 10px 50px;
            @media (max-width: 1300px) {
                gap: 30px;
                flex-direction: column;
            }
            @media (max-width: 768px) {
                align-items: center;
            }
            li {
                @media (max-width: 768px) {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                }
                a {
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 133%;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    transition: color 0.3s;
                    &:hover {
                        color: var(--ff755b-2-paints);
                    }
                    @media (max-width: 1300px) {
                        font-size: 24px;
                        line-height: 100%;
                    }
                    @media (max-width: 768px) {
                        text-align: center;
                    }
                }
            }
        }
    }
}
.header-menu-services {
    position: relative;
    @media (max-width: 1300px) {
        width: 100%;
    }
    @media (max-width: 992px) {
        position: static;
    }
    @media (max-width: 1300px) {
        &.service-open {
            .header-menu-services__button {
                color: var(--ff755b-2-paints);
            }
            .header-menu-services__dropdown {
                opacity: 1;
                pointer-events: auto;
            }
            .icon-menu {
                span,
                &::before,
                &::after {
                    background: var(--ff755b-2-paints);
                }
                &::before {
                    top: calc(50% - 1px);
                    transform: rotate(-45deg);
                }
                span {
                    width: 0;
                }
                &::after {
                    content: "";
                    width: 100%;
                    bottom: calc(50% - 1px);
                    transform: rotate(45deg);
                }
            }
        }
    }
    @media (min-width: 1301px) {
        &:hover {
            .header-menu-services__button {
                color: var(--ff755b-2-paints);
            }
            .header-menu-services__dropdown {
                opacity: 1;
                pointer-events: auto;
            }
            .icon-menu {
                span,
                &::before,
                &::after {
                    background: var(--ff755b-2-paints);
                }
                &::before {
                    top: calc(50% - 1px);
                    transform: rotate(-45deg);
                }
                span {
                    width: 0;
                }
                &::after {
                    content: "";
                    width: 100%;
                    bottom: calc(50% - 1px);
                    transform: rotate(45deg);
                }
            }
        }
    }
    // .header-menu-services__button

    &__button {
        position: relative;
        z-index: 10;
        cursor: pointer;
        display: flex;
        gap: 12px;
        align-items: center;
        font-weight: 900;
        font-size: 18px;
        line-height: 133%;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        transition: color 0.3s;
        @media (max-width: 1300px) {
            width: 100%;
            min-height: 60px;
            border-radius: 10px;
            background-color: var(--ffffff);
            box-shadow: 0 20px 50px 0 rgba(45, 68, 76, 0.1);
            justify-content: center;
        }
    }

    // .header-menu-services__dropdown

    &__dropdown {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0px);
        top: 100%;
        width: 216px;
        padding: 23px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
        @media (max-width: 1300px) {
            width: 100%;
            padding: 5px 0px 0px 0px;
            width: 100%;
        }
        @media (max-width: 992px) {
            padding: 43px 20px 40px 20px;
            height: calc(100vh - 157px);
            transform: translate(0, 0);
            left: -20px;
            width: calc(100% + 40px);
            background: #fff;
            overflow-y: auto;
            overflow-x: hidden;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        @media (max-width: 992px) {
            height: calc(100vh - 180px);
        }
        @media (max-width: 768px) {
            background-color: transparent;
        }
        @media (max-width: 359px) {
            height: calc(100vh - 178px);
        }
        ul {
            position: relative;
            z-index: 10;
            width: 100%;
            padding: 15px 20px 13px 20px;
            background: #fff;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            @media (max-width: 1300px) {
                gap: 30px;
            }
            @media (max-width: 992px) {
                padding: 0px 0px 0px 0px;
                background: transparent;
            }
            li {
                display: flex;
                width: 100%;
                border-bottom: 1px solid rgba(20, 30, 31, 0.1);
                padding: 0px 0px 10px 0px;
                &:last-child {
                    border-bottom: none;
                }
                @media (max-width: 1300px) {
                    padding: 0px 0px 0px 0px;
                    border-bottom: none;
                    justify-content: center;
                }
                a {
                    display: flex;
                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 143%;
                    transition: color 0.3s;
                    width: 100%;
                    &:hover {
                        color: var(--ff755b-2-paints);
                    }
                    @media (max-width: 1300px) {
                        font-weight: 900;
                        font-size: 24px;
                        line-height: 117%;
                        letter-spacing: 0.2em;
                        text-transform: uppercase;
                        text-align: center;
                        justify-content: center;
                    }
                }
            }
        }
    }

    // .header-menu-services__svg

    &__svg {
        pointer-events: none;
        position: absolute;
        top: -80px;
        left: 50%;
        height: auto;
        transform: translate(-50%, 0px);
        width: 416px;
        @media (max-width: 1300px) {
            display: none;
        }
    }
}

.icon-menu {
    position: relative;
    width: 16px;
    height: 14px;
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
        content: "";
        transition: background-color 0.3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 10px;
        background: linear-gradient(135deg, #0989e3 0%, #7d26cc 100%);
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
        width: 9px;
    }
    span {
        top: calc(50% - 1px);
    }
}
