.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @media (max-width: 768px) {
        gap: 10px;
    }
    .swiper-pagination-bullet {
        cursor: pointer;
        position: relative;
        z-index: 10;
        flex: 0 0 60px;
        border-radius: 20px;
        background: var(--ffffff);
        height: 4px;
        margin: 0px !important;
        opacity: 1 !important;
        transition: background-color 0.3s;
        @media (max-width: 768px) {
            flex: 0 0 25px;
        }
    }
    .swiper-pagination-bullet-active {
        background:
            linear-gradient(30deg, rgba(255, 84, 48, 0) 0%, #ff5430 49.52%, rgba(255, 84, 48, 0) 100%),
            var(--ff755b-2-paints);
    }
}

.swiper-pagination-lock {
    display: none;
}
.swiper-button-lock {
    display: none;
}
.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.5;
}
